<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="editform:copymultipleto" type="Sitecore.SharedSource.EditForm.CustomSitecore.Commands.CopyMultipleToCommand,Sitecore.SharedSource.EditForm" />
			<command name="editform:cutmultipleto" type="Sitecore.SharedSource.EditForm.CustomSitecore.Commands.CutMultipleToCommand,Sitecore.SharedSource.EditForm" />
			<command name="editform:deletemultiple" type="Sitecore.SharedSource.EditForm.CustomSitecore.Commands.DeleteMultipleCommand,Sitecore.SharedSource.EditForm" />
		</commands>
	</sitecore>
</configuration>